.form {
  display: flex;
  align-items: center;
  padding-left: 500px;
  color: white;
}

.body {
  width: 100vw;
  min-height: 70vh;
  background:  rgb(120 20 56);
  display: flex;
  justify-content: flex-start;
}


